<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer class="footer-part" style="background-color: #99FFCC; padding-top: 60px" th:fragment= "footer">
		<div class="container">
			<div class="row">



				<div class="col-lg-4 col-md-5 col-8">
					<div class="footer-policy-item">
						<img width="35" height="35" src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_1.png?1705392652885" data-src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_1.png?1705392652885" alt="Đặt online giao tận nhà đúng giờ" class="lazy loaded" data-was-processed="true">
						Đặt online giao tận nhà đúng giờ
					</div>
				</div>



				<div class="col-lg-4 col-md-5 col-8">
					<div class="footer-policy-item">
						<img width="35" height="35" src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_2.png?1705392652885" data-src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_2.png?1705392652885" alt="Đổi trả sản phẩm trong 7 ngày" class="lazy loaded" data-was-processed="true">
						Đổi trả sản phẩm trong 7 ngày
					</div>
				</div>



				<div class="col-lg-4 col-md-5 col-8">
					<div class="footer-policy-item">
						<img width="35" height="35" src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_3.png?1705392652885" data-src="//bizweb.dktcdn.net/100/449/944/themes/855700/assets/footer_policy_img_3.png?1705392652885" alt="Sản phẩm sạch tại vườn" class="lazy loaded" data-was-processed="true">
						Sản phẩm sạch tại vườn
					</div>
				</div>

			</div>

			<hr>

			<div class="row">
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);">
							<img src="/images/logo.png" alt="logo" />
						</a>
						<p>
							Chúng tôi hi vọng tất cả người tiêu dùng Việt nam sẽ được sử dụng những thụ phẩm rau củ quả tươi ngon, bổ dưỡng và an toàn nhất tại cửa hàng cung cấp thực phẩm rau củ sạch Harvert ViNa.
						</p>

						<ul class="footer-social">
							<li><a class="icofont-facebook" href="javascript:void(0);"></a></li>
							<li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
							<li><a class="icofont-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="icofont-instagram" href="javascript:void(0);"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
						</ul>


					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget contact">
						<h3 class="footer-title">Liên hệ chúng tôi</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email"></i>
								<p>
									<span>support@harvertvn.com</span><span>hvn@harvertvn.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone"></i>
								<p>
								<span>+84 848 797 515</span>
								</p></li>
							<li><i class="icofont-location-pin"></i>
								<p>Đống Đa - Hà Nội</p></li>
						</ul>
					</div>

				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Chính sách</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Chính sách thành viên</a></li>
								<li><a href="javascript:void(0);">Chính sách thanh toán</a></li>
								<li><a href="javascript:void(0);">Hướng dẫn mua hàng</a></li>
								<li><a href="javascript:void(0);">Bảo mật thông tin cá nhân</a></li>
								<li><a href="javascript:void(0);">Quà tặng tri ân</a></li>
							</ul>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Mục ẩm thực
						</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Công thức nấu ăn</a></li>
								<li><a href="javascript:void(0);">Mẹo vặt bếp núc</a></li>
								<li><a href="javascript:void(0);">Đặc sản vùng miền</a></li>
								<li><a href="javascript:void(0);">Địa điểm ăn uống</a></li>
								<li><a href="javascript:void(0);">Chế độ ăn uống</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			

			<hr>

			<div class="user-form-footer" style="text-align: center;">
				<p>Harvert ViNa | &COPY; Developer by <a href="javascript:void(0);">Gấu</a></p>
			</div>
			<br>




<!--			<div class="row" >-->
<!--				<div class="col-12">-->
<!--					<div class="footer-bottom">-->

<!--						<div class="footer-card">-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/01.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/02.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/03.jpg" alt="payment" />-->
<!--							</a>-->
<!--							<a href="javascript:void(0);">-->
<!--								<img src="/images/payment/jpg/04.jpg" alt="payment" />-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>
		
	</footer>
</body>
</html>